apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: openshift-config
data:
  {{ installer_quay_hostname | regex_replace(':', '..') }}..{{ mirror_registry_port }}: |
{{ mirror_registry_ca_cert | indent(4, true) }}
  updateservice-registry: |
{{ mirror_registry_ca_cert | indent(4, true) }}
---
apiVersion: config.openshift.io/v1
kind: Image
metadata:
  name: cluster
spec:
  additionalTrustedCA:
    name: registry-config
