{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Action": [
        "sts:AssumeRoleWithWebIdentity"
      ],
      "Effect": "Allow",
      "Condition": {
        "StringEquals": {
          "oidc.op1.openshiftapps.com/{{ oidc_config_id }}:sub": [
            "system:serviceaccount:kube-system:capa-controller-manager"
          ]
        }
      },
      "Principal": {
        "Federated": "arn:aws:iam::{{ caller_info.account }}:oidc-provider/oidc.op1.openshiftapps.com/{{ oidc_config_id }}"
      }
    }
  ]
}