{
    "Version": "2012-10-17",
    "Statement": {
        "Effect": "Allow",
        "Action": "sts:AssumeRole",
        "Resource": [
            "arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name }}-shared-vpc-endpoint"
        ]
    }
}