apiVersion: v1
kind: Namespace
metadata:
  name: {{ openshift_cluster_name_suffix }}-hcp1
spec: {}
status: {}
---
apiVersion: v1
data:
  .dockerconfigjson: {{ pull_secret | b64encode }}
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ openshift_cluster_name_suffix }}-hcp1-pull-secret
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
---
apiVersion: v1
data:
  id_rsa: {{ ssh_private_key_content | default('REPLACE_ME_WITH_SSH_PRIVATE_KEY') | b64encode }}
  id_rsa.pub: {{ ssh_public_key_for_ec2_and_openshit_node | b64encode }}
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ openshift_cluster_name_suffix }}-hcp1-ssh-key
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
---
apiVersion: v1
data:
  key: {{ lookup('pipe', 'openssl rand -base64 32') }}
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ openshift_cluster_name_suffix }}-hcp1-etcd-encryption-key
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
type: Opaque
---
apiVersion: hypershift.openshift.io/v1beta1
kind: HostedCluster
metadata:
  name: {{ openshift_cluster_name_suffix }}-hcp1
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
spec:
  autoscaling: {}
  capabilities: {}
  configuration: {}
  controllerAvailabilityPolicy: HighlyAvailable
  dns:
    baseDomain: {{ openshift_base_domain }}
    privateZoneID: {{ hcp_private_zone_id | default('REPLACE_ME_WITH_HCP_PRIVATE_ZONE_ID') }}
    publicZoneID: {{ hcp_public_zone_id | default('REPLACE_ME_WITH_HCP_PUBLIC_ZONE_ID') }}
  etcd:
    managed:
      storage:
        persistentVolume:
          size: 8Gi
          storageClassName: gp3-csi
        type: PersistentVolume
    managementType: Managed
  fips: false
  infraID: {{ openshift_cluster_name_suffix }}-hcp1
  infrastructureAvailabilityPolicy: HighlyAvailable
  issuerURL: https://self-managed-hcp-oidc-{{ openshift_cluster_name_suffix }}.s3.{{ aws_region }}.amazonaws.com/{{ openshift_cluster_name_suffix }}-hcp1
  networking:
    clusterNetwork:
    - cidr: 10.132.0.0/14
    machineNetwork:
    - cidr: {{ connected_vpc_cidr }}
    networkType: OVNKubernetes
    serviceNetwork:
    - cidr: 172.31.0.0/16
  olmCatalogPlacement: management
  platform:
    aws:
      cloudProviderConfig:
        subnet:
          id: {{ connected_subnet_id_a }}
        vpc: {{ connected_vpc_id }}
        zone: {{ aws_region }}a
      endpointAccess: Public
      multiArch: false
      region: {{ aws_region }}
      rolesRef:
        controlPlaneOperatorARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-control-plane-operator
        imageRegistryARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-openshift-image-registry
        ingressARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-openshift-ingress
        kubeCloudControllerARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-cloud-controller
        networkARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-cloud-network-config-controller
        nodePoolManagementARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-node-pool
        storageARN: arn:aws:iam::{{ vpc_owner_aws_account_number }}:role/{{ openshift_cluster_name_suffix }}-hcp1-aws-ebs-csi-driver-controller
    type: AWS
  pullSecret:
    name: {{ openshift_cluster_name_suffix }}-hcp1-pull-secret
  release:
    image: quay.io/openshift-release-dev/ocp-release:{{ openshift_version }}-x86_64
  secretEncryption:
    aescbc:
      activeKey:
        name: {{ openshift_cluster_name_suffix }}-hcp1-etcd-encryption-key
    type: aescbc
  services:
  - service: APIServer
    servicePublishingStrategy:
      type: LoadBalancer
  - service: Ignition
    servicePublishingStrategy:
      type: Route
  - service: Konnectivity
    servicePublishingStrategy:
      type: Route
  - service: OAuthServer
    servicePublishingStrategy:
      type: Route
  sshKey:
    name: {{ openshift_cluster_name_suffix }}-hcp1-ssh-key
status:
  controlPlaneEndpoint:
    host: ""
    port: 0
---
apiVersion: hypershift.openshift.io/v1beta1
kind: NodePool
metadata:
  name: {{ openshift_cluster_name_suffix }}-hcp1-{{ aws_region }}a
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
spec:
  arch: amd64
  clusterName: {{ openshift_cluster_name_suffix }}-hcp1
  management:
    autoRepair: true
    upgradeType: Replace
  nodeDrainTimeout: 0s
  nodeVolumeDetachTimeout: 0s
  platform:
    aws:
      instanceProfile: {{ openshift_cluster_name_suffix }}-hcp1-worker
      instanceType: m5.large
      rootVolume:
        size: 120
        type: gp3
      subnet:
        id: {{ connected_subnet_id_a }}
    type: AWS
  release:
    image: quay.io/openshift-release-dev/ocp-release:{{ openshift_version }}-x86_64
  replicas: 1
status:
  replicas: 0
---
apiVersion: hypershift.openshift.io/v1beta1
kind: NodePool
metadata:
  name: {{ openshift_cluster_name_suffix }}-hcp1-{{ aws_region }}b
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
spec:
  arch: amd64
  clusterName: {{ openshift_cluster_name_suffix }}-hcp1
  management:
    autoRepair: true
    upgradeType: Replace
  nodeDrainTimeout: 0s
  nodeVolumeDetachTimeout: 0s
  platform:
    aws:
      instanceProfile: {{ openshift_cluster_name_suffix }}-hcp1-worker
      instanceType: m5.large
      rootVolume:
        size: 120
        type: gp3
      subnet:
        id: {{ connected_subnet_id_b }}
    type: AWS
  release:
    image: quay.io/openshift-release-dev/ocp-release:{{ openshift_version }}-x86_64
  replicas: 1
status:
  replicas: 0
---
apiVersion: hypershift.openshift.io/v1beta1
kind: NodePool
metadata:
  name: {{ openshift_cluster_name_suffix }}-hcp1-{{ aws_region }}c
  namespace: {{ openshift_cluster_name_suffix }}-hcp1
spec:
  arch: amd64
  clusterName: {{ openshift_cluster_name_suffix }}-hcp1
  management:
    autoRepair: true
    upgradeType: Replace
  nodeDrainTimeout: 0s
  nodeVolumeDetachTimeout: 0s
  platform:
    aws:
      instanceProfile: {{ openshift_cluster_name_suffix }}-hcp1-worker
      instanceType: m5.large
      rootVolume:
        size: 120
        type: gp3
      subnet:
        id: {{ connected_subnet_id_c }}
    type: AWS
  release:
    image: quay.io/openshift-release-dev/ocp-release:{{ openshift_version }}-x86_64
  replicas: 1
status:
  replicas: 0
---
