apiVersion: v1
kind: Secret
metadata:
  name: hypershift-operator-private-link-credentials
  namespace: local-cluster
  labels:
    cluster.open-cluster-management.io/backup: ""
type: Opaque
data:
  aws-access-key-id: {{ hcp_pl_access_key_id | b64encode }}
  aws-secret-access-key: {{ hcp_pl_secret_access_key | b64encode }}
  region: {{ aws_region | b64encode }}
