#!/bin/bash
az aro create \
--resource-group {{ resource_group_name }} \
--name {{ openshift_cluster_name }}-aro \
--vnet {{ disconnected_vnet_name }} \
--master-subnet {{ aro_subnet_name_a }} \
--worker-subnet {{ aro_subnet_name_b }} \
--version {{ openshift_version }} \
--pull-secret '{{ pull_secret }}' \
--apiserver-visibility Private \
--ingress-visibility Private \
--outbound-type UserDefinedRouting \
--tags 'Environment=disconnected' 'ManagedBy=terraform'