#!/bin/bash
az aro create \
--resource-group {{ resource_group_name }} \
--name {{ openshift_cluster_name }} \
--vnet {{ disconnected_vnet_name }} \
--master-subnet {{ disconnected_subnet_name_a }} \
--worker-subnet {{ disconnected_subnet_name_b }} \
--version {{ openshift_version }} \
--pull-secret '{{ pull_secret }}' \
--api-server-visibility Private \
--ingress-visibility Private \
--outbound-type UserDefinedRouting \
--tags 'Environment=disconnected' 'ManagedBy=terraform'