#!/bin/bash
az aro create \
--client-id {{ installer_sp_client_id }} \
--client-secret "{{ installer_sp_client_secret }}" \
--resource-group {{ resource_group_name }} \
--name {{ openshift_cluster_name }}-aro \
--vnet {{ disconnected_vnet_name }} \
--master-subnet {{ aro_subnet_name_a }} \
--worker-subnet {{ aro_subnet_name_b }} \
--version {{ openshift_version }} \
--pull-secret '{{ pull_secret }}' \
--apiserver-visibility Private \
--ingress-visibility Private \
--outbound-type UserDefinedRouting \
--worker-vm-size "Standard_D4s_v5" \
--tags 'Environment=disconnected' 'ManagedBy=terraform'