apiVersion: v1
baseDomain: {{ openshift_base_domain }}
credentialsMode: Manual
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: 3
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ openshift_cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ connected_vpc_cidr }}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ aws_region }}
    subnets: 
    - {{ connected_subnet_id_a }}
    - {{ connected_subnet_id_b }}
    - {{ connected_subnet_id_c }}
    hostedZone: {{ hosted_zone_id_for_domain }} 
publish: Internal
pullSecret: {{ pull_secret }}
imageContentSources:
- mirrors:
  - {{ installer_quay_hostname.stdout }}:8443/openshift/release-images
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ installer_quay_hostname.stdout }}:8443/openshift/release
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
sshKey: |
  {{ ssh_public_key_for_ec2_and_openshit_node }}
additionalTrustBundle: |
