apiVersion: v1
kind: Secret
metadata:
  name: letsencrypt-api-cert
  namespace: openshift-config
type: kubernetes.io/tls
data:
  tls.crt: {{ (letsencrypt_cert_pem + letsencrypt_issuer_pem) | b64encode }}
  tls.key: {{ letsencrypt_key_pem | b64encode }}
