#!/bin/bash -x
OID_CONFIG_ID=`rosa describe cluster -c {{ prefix_for_name }}-{{ openshift_cluster_name_suffix }}-h | grep "OIDC Endpoint URL" | awk {'print $4'} | cut -f4 -d/`

rosa delete cluster \
  --cluster {{ prefix_for_name }}-{{ openshift_cluster_name_suffix }}-h \
  --yes --region {{ aws_region }} 

rosa logs uninstall \
  -c {{ prefix_for_name }}-{{ openshift_cluster_name_suffix }}-h \
  --watch

rosa delete operator-roles \
  --prefix {{ prefix_for_name }}-{{ openshift_cluster_name_suffix }}-h \
  --mode auto \
  --yes

rosa delete account-roles \
  --prefix {{ prefix_for_name }}-{{ openshift_cluster_name_suffix }} \
  --mode auto \
  --yes \
  --hosted-cp

rosa delete oidc-config \
  --yes \
  --mode auto \
  --oidc-config-id $OID_CONFIG_ID
