apiVersion: v1
kind: Secret
metadata:
  name: hypershift-operator-oidc-provider-s3-credentials
  namespace: local-cluster
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: awss3
type: Opaque
data:
  bucket: {{ hcp_oidc_bucket_name | b64encode }}
  credentials: {{ '[default]\naws_access_key_id=123\naws_secret_access_key=456\n' | b64encode }}
  region: {{ aws_region | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: hypershift-operator-private-link-credentials
  namespace: local-cluster
  labels:
    cluster.open-cluster-management.io/backup: ""
type: Opaque
data:
  aws-access-key-id: {{ hcp_pl_access_key_id | b64encode }}
  aws-secret-access-key: {{ hcp_pl_secret_access_key | b64encode }}
  region: {{ aws_region | b64encode }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: openshift-config
data:
  {{ installer_quay_hostname | regex_replace(':', '..') }}..{{ mirror_registry_port }}: |
{{ mirror_registry_ca_cert | indent(4, true) }}
---
apiVersion: config.openshift.io/v1
kind: Image
metadata:
  name: cluster
spec:
  additionalTrustedCA:
    name: registry-config
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: hypershift-operator-external-dns-credentials
  namespace: local-cluster
stringData:
  provider: aws
  domain-filter: hcp.{{ openshift_base_domain }}
  credentials: |
    [default]
    aws_access_key_id = {{ hcp_ext_dns_access_key_id }}
    aws_secret_access_key = {{ hcp_ext_dns_secret_access_key }}
---