# https://docs.openshift.com/rosa/rosa_install_access_delete_clusters/rosa_getting_started_iam/rosa-aws-prereqs.html#osd-aws-privatelink-firewall-prerequisites
# install
registry.redhat.io
quay.io
cdn01.quay.io
cdn02.quay.io
cdn03.quay.io
cdn04.quay.io
cdn05.quay.io
cdn06.quay.io
.quay.io
sso.redhat.com
quay-registry.s3.amazonaws.com
ocm-quay-production-s3.s3.amazonaws.com
quayio-production-s3.s3.amazonaws.com
cart-rhcos-ci.s3.amazonaws.com
openshift.org
registry.access.redhat.com
registry.connect.redhat.com
console.redhat.com
sso.redhat.com
pull.q1w2.quay.rhcloud.com
.q1w2.quay.rhcloud.com
www.okd.io
www.redhat.com
aws.amazon.com
catalog.redhat.com
dvbwgdztaeq9o.cloudfront.net
cert-api.access.redhat.com
api.access.redhat.com
infogw.api.openshift.com
console.redhat.com
cloud.redhat.com
observatorium-mst.api.openshift.com
observatorium.api.openshift.com
# aws
ec2.amazonaws.com
events.{{ aws_region }}.amazonaws.com
iam.amazonaws.com
route53.amazonaws.com
sts.amazonaws.com
sts.{{ aws_region }}.amazonaws.com
tagging.us-east-1.amazonaws.com
tagging.{{ aws_region }}.amazonaws.com
ec2.{{ aws_region }}.amazonaws.com
elasticloadbalancing.{{ aws_region }}.amazonaws.com
servicequotas.{{ aws_region }}.amazonaws.com
# openshift
mirror.openshift.com
storage.googleapis.com
api.openshift.com
# red hat sre
api.pagerduty.com
events.pagerduty.com
api.deadmanssnitch.com
nosnch.in
http-inputs-osdsecuritylogs.splunkcloud.com
access.redhat.com
.osdsecuritylogs.splunkcloud.com
.p3.openshiftapps.com
.p1.openshiftapps.com
