apiVersion: v1
baseDomain: "{{base_domain}}"
compute: 
- hyperthreading: Enabled 
  name: worker
  replicas: 3 
controlPlane: 
  hyperthreading: Enabled 
  name: master
  replicas: 3 
metadata:
  name: "{{hub_name}}"
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14 
    hostPrefix: 23 
  networkType: OVNKubernetes 
  serviceNetwork: 
  - 172.30.0.0/16
platform:
  none: {} 
fips: false 
pullSecret: '{"auths":{"mirror-registry.hub.mylab.com:8443": {"auth": "<password>"} }}' 
sshKey: '{{ ssh_key }}' 
imageDigestSources:
- mirrors:
  - mirror-registry.hub.mylab.com:8443/openshift/release
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
- mirrors:
  - mirror-registry.hub.mylab.com:8443/openshift/release-images
  source: quay.io/openshift-release-dev/ocp-release
additionalTrustBundle: |
    -----BEGIN CERTIFICATE-----
    -----END CERTIFICATE-----
